.mandalas .controller{
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: .5vmin;
    border-radius: .2vmin;
}

.mandalas .controller i{
    border-radius: .2vmin;
    padding: .5vmin;
    cursor: pointer;
}

.mandalas .controller i:hover{
    background-color: #393939;
    transition: .5s;
}